[Desktop Entry]
Encoding=UTF-8
Name=Bulpcoin
Comment=Bulpcoin P2P Cryptocurrency
Exec=bulpcoin-qt %u
Terminal=false
Type=Application
Icon=bulpcoin128
MimeType=x-scheme-handler/bulpcoin;
Categories=Office;Finance;
Name[en_US]=bulpcoin-qt.desktop
